body {
  font-family: 'Segoe UI', Calibri, Arial;
  margin:0;
  background-image: url("../images/FONDO.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h2{
    font-weight:normal;
    text-align:center;
	color:black;
}
h3{
    font-weight:normal;
    margin:3px 0px;
    text-align:center;
    color: crimson ;
    font-size: 30px;
}

#titulo{
  color: aliceblue;
  font-size: 40px;
}